.one-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 21px;
}

.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 21px;
}

.three-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 21px;
}